* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  height: 30.71px;
  float: left;
}

[class*="col-"].white {
height: 20px;
}

.col-16 {
  width: calc((100% / 50) * 16);
}

.col-10 {
  width: calc((100% / 50) * 10);
}

.col-7 {
  width: calc((100% / 50) * 7);
}

.col-5 {
  width: calc((100% / 50) * 5);
}

.col-4 {
  width: calc((100% / 50) * 4);
}

.col-3 {
  width: calc((100% / 50) * 3);
}

.col-2 {
  width: calc((100% / 50) * 2);
}

.col-1 {
  width: calc(100% / 50);
}

.black {
  background-color: black;
}

.pink {
  background-color: pink;
}

.grey {
  background-color: #716559;
}

.brown {
  background-color: #8a5e3b;
}

.lightbrown {
  background-color: #c3986b;
}

.darkbrown {
  background-color: #3a2313;
}

.white {
  background-color: white;
}
